@import 'geral.css';

h1 {
  color: #009688;
  font-size: 4.7rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 4rem;
  max-width: 15ch;
}

h2 {
  color: var(--rosa-padrao);
  margin-block: 2rem;
}

.intro {
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 5rem 9rem;
  margin-inline: auto;
}

.intro p {
  font-size: 2rem;
  font-weight: 300;
  max-width: 40ch;
  line-height: 1.2;
}

.posts {
  max-width: 1400px;
  margin-inline: auto;
}

.posts p {
  font-size: 1.7rem;
  font-weight: 300;
  max-width: 55ch;
}

.posts div {
  margin-bottom: 10rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #E5E5E5;
  padding-block: 10rem 7rem;
  padding-inline: 15rem 10rem;
  gap: 10rem;
}

.grid-I {
  grid-column: 1;
}

.grid-II {
  grid-column: 2;
}

@media (max-width: 1320px){
  .grid {
    padding-inline: 5rem
  }

  .grid img {
    width: 400px;
    height: 200px;
  }
}

@media (max-width: 1000px){
  .intro {
    padding-inline: 3rem;
  }

  .intro img {
    width: 350px;
    height: 350px;
  }
  .grid {
    padding-inline: 3rem;
    gap: 5rem;
  }

  .grid img {
    width: 350px;
    height: 200px;
  }
}

@media (max-width: 820px) {

  h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  .intro p {
    font-size: 1.8rem;
  }

  .intro img {
    width: 300px;
    height: 300px;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .grid-II {
    grid-column: 1;
  }

  .posts div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .posts p {
    max-width: 40ch;
    text-align: justify;
  }
}

@media (max-width: 625px) {
  .intro {
    flex-direction: column;
  }
  .intro h1, .intro p {
    max-width: none;
    text-align: center;
  }
}

@media (max-width: 420px) {
  .grid img {
    width: 280px;
    height: 220px;
  }

  h2 {
    text-align: center;
  }
}
