@import 'geral.css';

h1 {
  font-size: 4rem;
  font-weight: 700;
}

p {
  color: #000000;
}

.main {
  max-width: 1500px;
  margin-inline: auto;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-block: 10rem;
}

input, textarea {
  width: 49rem;
  display: inline-block;
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
  border: 1px solid #686868;
  border-radius: 7px;
  padding-block: 1rem;
  padding-left: 2.2rem;
}

textarea {
  resize: none;
  height: 19rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

button {
  display: inline-block;
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
  color: #FFFFFF;
  border: none;
  border-radius: 25px;
  background-color: var(--rosa-padrao);
  padding: .5rem 4rem;
  align-self: flex-start;
  cursor: pointer;
}

button:hover {
  background-color: #d3265f;
}

@media (max-width: 1000px){
  .main {
    flex-direction: column;
    align-items: center;
  }

  .main img {
    order: 1;
  }
}

@media (max-width: 550px){
  .main img {
    width: 350px;
    height: 350px;
  }

  input, textarea {
    width: 35rem;
  }
}

@media (max-width: 400px){
  .main img {
    width: 250px;
    height: 250px;
  }

  input, textarea {
    width: 25rem;
  }
}