@import 'geral.css';

h1 {
  font-size: 5.5rem;
  font-weight: 700;
  max-width: 15ch;
  margin-bottom: 2rem;
}

main p {
  font-size: 2rem;
  font-weight: 300;
  max-width: 40ch;
}

main h2 {
  color: var(--rosa-padrao);
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.intro {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin-block: 9rem 11.5rem;
  margin-inline: auto;
  padding-inline: 3rem;
}

.aulas {
  background-color: #F7F7F7;
  
}

.aula {
  max-width: 1000px;
  display: flex;
  gap: 8rem;
  padding-block: 7.5rem;
  padding-inline: 5rem;
  margin-inline: auto;
}

.a1, .a2 {
  border-bottom: 3px solid #C4C4C4;
}

@media (max-width: 1000px){
  h1 {
    font-size: 4.5rem;
  }

  .aulas p, .intro p {
    font-size: 1.8rem;
  }

  .aulas h2 {
    font-size: 3rem;
  }

  .aula iframe {
    width: 400px;
    height: 260px;
  }
}

@media (max-width: 900px){
  .aula {
    flex-direction: column;
  }
}

@media (max-width: 720px) {
  .intro {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .intro h1 {
    text-align: center;
    font-size: 4rem;
    max-width: none;
  }

  .intro p {
    text-align: justify;
    max-width: none;
  }

}

@media (max-width: 500px){
  .intro img {
    width: 300px;
    height: 300px;
  }
  .aula iframe {
    width: 300px;
    height: 200px;
  }
}

@media (max-width: 400px){
  .aula {
    padding-inline: 1.5rem;
  }
}

